body {
  margin: 0;
  padding: 10px;
}

div {
  margin: auto;
  width: 50%;
  text-align: center;
}

button {
  background-color: dodgerblue;
}

button:hover {
  background-color: cornflowerblue;
}

a {
  text-decoration: none;
  color: black;
}

#timer {
  float: right;
  margin: 0;
}

.dispq {
  text-align: justify;
}
