body {
  margin: 0;
  padding: 10px;
  color: #1f1d1e;
}

header {
  font-size: 20px;
}

div {
  margin: auto;
  width: 50%;
  text-align: center;
}

a {
  text-decoration: none;
  color: #1f1d1e;
}

li {
  list-style-position: inside;
  background-color: #f0eeef;
  width: 25%;
  font-weight: bold;
  border-style: solid;
  border-color: #f0eeef;
  border-radius: 5px;
  margin: 5px;
}

#timer {
  float: right;
  margin: 0;
}

#display {
  text-align: left;
}

.dispq {
  text-align: justify;
}

.choices:hover {
  background-color: #d3d1d2;
}

button {
  background-color: #f0eeef;
  border-style: solid;
  border-radius: 5px;
  font-weight: bold;
  color: #1f1d1e;
}

button:hover {
  background-color: #d3d1d2;
}
